CSharp-Calculator/bin/Debug/net8.0/CSharp-Calculator
CSharp-Calculator/bin/Debug/net8.0/CSharp-Calculator.deps.json
CSharp-Calculator/bin/Debug/net8.0/CSharp-Calculator.dll
CSharp-Calculator/bin/Debug/net8.0/CSharp-Calculator.pdb
CSharp-Calculator/bin/Debug/net8.0/CSharp-Calculator.runtimeconfig.json
CSharp-Calculator/obj/CSharp-Calculator.csproj.nuget.dgspec.json
CSharp-Calculator/obj/CSharp-Calculator.csproj.nuget.g.props
CSharp-Calculator/obj/CSharp-Calculator.csproj.nuget.g.targets
CSharp-Calculator/obj/project.assets.json
CSharp-Calculator/obj/project.nuget.cache
CSharp-Calculator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CSharp-Calculator/obj/Debug/net8.0/apphost
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.AssemblyInfo.cs
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.AssemblyInfoInputs.cache
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.assets.cache
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.csproj.CoreCompileInputs.cache
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.csproj.FileListAbsolute.txt
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.dll
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.GeneratedMSBuildEditorConfig.editorconfig
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.genruntimeconfig.cache
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.GlobalUsings.g.cs
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.pdb
CSharp-Calculator/obj/Debug/net8.0/CSharp-Calculator.sourcelink.json
CSharp-Calculator/obj/Debug/net8.0/ref/CSharp-Calculator.dll
CSharp-Calculator/obj/Debug/net8.0/refint/CSharp-Calculator.dll
